.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: antiquewhite;
    justify-content: space-evenly;
    height: 700px;
    align-items: stretch;
    overflow-y: auto;
}

.item span {
    color: white;
    font-size: 20px;
}

.item {
    background-color: rgba(155, 89, 182, 1.0);
    padding: 20px 30px;
    color: rgba(44, 62, 80,1.0);
    margin: 10px 5px;
    font-family: Arial, Helvetica, sans-serif;
/*     flex-grow: 1; */
    max-width: 280px;
}